{% extends 'mikedinder/base/base_1.html' %}
{% load compress static %}

{% comment %}<!-- META INFORMATION -->{% endcomment %}
{% block page_title1 %}{{ title }}{% endblock %}
{% block page_title2 %}{{ title }}{% endblock %}
{% block page_title3 %}{{ title }}{% endblock %}
{% block page_id %}{{ page_id }}{% endblock %}
{% block page_class %}{{ block.super }} {{ page_class }} sub-page{% endblock %}
{% block meta_description1 %}{{ meta_description }}{% endblock %}
{% block meta_description2 %}{{ meta_description }}{% endblock %}
{% block meta_description3 %}{{ meta_description }}{% endblock %}
{% block social_img1 %}{% static '/gallery/images/Image.png' %}{% endblock %}
{% block social_img2 %}{% static '/gallery/images/Image.png' %}{% endblock %}
{% block social_img3 %}{% static '/gallery/images/Image.png' %}{% endblock %}
{% block social_url %}{{ request.path }}{% endblock %}

{% comment %}<!-- ASSETS -->{% endcomment %}
{% block head_stylesheets %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/common.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/nav.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/hero.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/footer.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/gallery/css/pages/image_gallery.css' %}" />
    {% endcompress %}
{% endblock %}
{% block js_scripts %}
    {% compress js %}
        <script src="{% static '/mikedinder/js/theme.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% comment %}<!-- PAGE SPECIFIC HEADER -->{% endcomment %}
{% block header %}
    {% include "mikedinder/common/header.html" with branded_title=branded_title %}
{% endblock %}

{% comment %}<!-- BODY CONTENT -->{% endcomment %}
{% block body_content %}
    {% comment %}<!-- HERO SECTION -->{% endcomment %}
    {% include "gallery/pages/image_gallery/hero.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- CONTACT INFO SECTION -->{% endcomment %}
    {% include "gallery/pages/image_gallery/slider.html" %}

    <div class="section-divider" aria-hidden="true"></div>
{% endblock %}

{% comment %}<!-- PAGE SPECIFIC FOOTER -->{% endcomment %}
{% block footer %}
    {% include "mikedinder/common/footer.html" with branded_title=branded_title %}
{% endblock %}