{% extends "admin/change_list.html" %}
{% load i18n static %}

<!-- Add your custom content here, e.g., in the 'pretitle' block -->
{% block pretitle %}
    <h1>Gallery Image List</h1>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a class="addlink" href="{% url 'admin:gallery_image_add' %}" title="Upload Single Image" aria-label="Upload Single Image">
            Upload Single Image
        </a>
    </li>
    <li>
        <a class="addlink" href="{% url 'admin:gallery_image_bulk_upload' %}" title="Upload Bulk Images" aria-label="Upload Bulk Images">Upload Bulk Images</a>
    </li>
{% endblock %}