{% load static %}

<!-- ==================== SECTION 1: Compressor ==================== -->
<section id="compress" class="timeline-section" aria-labelledby="compressor-heading">
    <div class="container">
        <div class="section-header fade-in">
            <span class="section-eyebrow" aria-label="Section 1">// SECTION 01</span>
            <h2 class="section-title" id="compressor-heading">
                <span class="stat-icon">
                    <img src="{% static '/mikedinder/images/Compress.png' %}" alt="Compress Logo" class="stat-logo-image" />
                </span>Example <span class="accent">Usage</span>
            </h2>

            <p class="section-subtitle">
                Here are examples of how this is used in my project. The idea is that on a local/development environment, compression does not take place. But can easily be turned on via a single environment variable boolean to test it's functionality. On production this boolean is set to True, thus enabling it on Production and serving up the minified and consolidated assets. During deployment, one still has to run the <code>compress</code> management command in order to get new assets and should be included in any CI/CD Pipeline as well.
            </p>
        </div>

        <!-- Restaurant Example -->
        <div id="compressor-examples" class="glass-card fade-in" aria-label="Django Compressor Code Examples">
            <h3 class="origin-header">
                Django <span class="accent">Compressor</span>
            </h3>
            <div class="example-icon">
                <img src="{% static '/mikedinder/images/Compress2.png' %}" alt="Compress Logo" class="example-logo-image" />
            </div>

            <p>
                &emsp;Below is the bare minimum settings that will allow this package to work in both a Local and Production Environment where the Production Environment is Ubuntu with GUNICORN to serve up the Django Project and static files are stored on the actual Ubuntu Server and not some third-party like an AWS S3 Bucket or something. For third-party storages, you would need to adjust these settings to accommodate that storage system.
            </p>

            <h4>Settings</h4>
            <p>
<pre><code>INSTALLED_APPS = [
    ...
    'compressor',  # Must be before django.contrib.staticfiles
    'django.contrib.staticfiles',
    ...
]

...

STATIC_URL = '/static/'
STATIC_ROOT = os.path.join(BASE_DIR, 'static/')

# For File Compressing and Minifying
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
    'compressor.finders.CompressorFinder',
)

COMPRESS_ENABLED = env.bool('COMPRESS', default=False)
COMPRESS_OFFLINE = env.bool('COMPRESS', default=False)

COMPRESS_ROOT = STATIC_ROOT
COMPRESS_OFFLINE_CONTEXT = {}</code></pre>
            </p>

            <h4>Templates</h4>

            <h5>base_1.html</h5>
            <p>
<pre><code>{% verbatim %}&lt;head&gt;
    ...
    &lt;!-- CSS Import --&gt;
    {% block head_stylesheets %}{% endblock %}
    ...
&lt;/head&gt;

&lt;body&gt;
    &lt;!-- Body HTML Before JS --&gt;
    ...
    {% comment %}&lt;!-- JavaScript Import --&gt;{% endcomment %}
    {% block js_scripts %}{% endblock %}
&lt;/body&gt;{% endverbatim %}</code></pre>
            </p>

            <h5>info.html</h5>
            <p>
<pre><code>{% verbatim %}{% block head_stylesheets %}
    {% compress css %}
        &lt;link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/common.css' %}" /&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/nav.css' %}" /&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/hero.css' %}" /&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/section1_timeline.css' %}" /&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/footer.css' %}" /&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/pages/contact_info.css' %}" /&gt;
    {% endcompress %}
{% endblock %}

{% block js_scripts %}
    {% compress js %}
        &lt;script src="{% static '/mikedinder/js/theme.js' %}"&gt;&lt;/script&gt;
    {% endcompress %}
{% endblock %}{% endverbatim %}</code></pre>
            </p>

            <div class="glow-rule" aria-hidden="true"></div>

            <p>
                &emsp;When deploying to a Production Environment. The bare minimum commands that would have to be executed are shown below. This is assuming there are no added packages in your <code>requirements.txt</code> file and no drastic changes to your <code>settings.py</code> file either. Drastic could also mean 1 line of code depending on the type of setting that was changed.
            </p>

            <p>
<pre><code>python manage.py collectstatic
python manage.py compress
</code></pre>
            </p>

            <p>
                &emsp;You may have to do some troubleshooting from time to time if something is not updating. Often that means your manifest.json file is gunked up and simply removing that and re-running the compress command can do the trick. You can also attempt to force the compress command but that is generally for building in a local environment where compress is disabled by default. The reason we disable it in a local environment is so that when debugging and inspecting code, you can see what CSS file and what line number something appears on. Otherwise, everything will appear on line 1 of the output file, which is not helpful at all for debugging.
            </p>

            <p>
<pre><code>sudo rm -rf static/CACHE/
sudo rm -rf static/CACHE/css
sudo rm -rf static/CACHE/js
sudo rm -rf static/CACHE/manifest.json

python manage.py compress --force
</code></pre>
            </p>

            <p>
                Below are some links to examples files in my source code, which is publicly available for you to look at.
            </p>

            <ul>
                <li>
                    <a href="https://github.com/dindermike/django-project/blob/main/.env.example" title="Environment File" aria-label="Environment File">Environment File</a> &mdash; This is the Example .env file. The real one should never be shared in a repo.
                </li>
                <li>
                    <a href="https://github.com/dindermike/django-project/blob/main/requirements.txt#L5" title="Requirements File" aria-label="Requirements File">Requirements File</a> &mdash; Shows the package required for this to work. Some optional packages are also installed but not necessary.
                </li>
                <li>
                    <a href="https://github.com/dindermike/django-project/blob/main/settings.py#L183" title="Settings File" aria-label="Settings File">Settings File</a> &mdash; My settings.py file. Most of the required settings start on this line, but other parts of this file are also needed.
                </li>
                <li>
                    <a href="https://github.com/dindermike/django-project/blob/main/mikedinder/templates/mikedinder/base/base_1.html" title="Base HTML Template" aria-label="Base HTML Template">Base HTML Template</a> &mdash; My base_1.html Base HTML Template File.
                </li>
                <li>
                    <a href="https://github.com/dindermike/django-project/blob/main/mikedinder/templates/mikedinder/pages/compressor.html" title="Compressor Page Template" aria-label="Compressor Page Template">Compressor Page Template</a> &mdash; My compressor.html Compressor Page HTML Template
                </li>
            </ul>
        </div>
    </div>
</section>