{% extends 'mikedinder/base/base_1.html' %}
{% load static %}

{% comment %}<!-- META INFORMATION -->{% endcomment %}
{% block page_title1 %}{{ title }}{% endblock %}
{% block page_title2 %}{{ title }}{% endblock %}
{% block page_title3 %}{{ title }}{% endblock %}
{% block page_id %}{{ page_id }}{% endblock %}
{% block page_class %}{{ block.super }} {{ page_class }}{% endblock %}
{% block meta_description1 %}{{ meta_description }}{% endblock %}
{% block meta_description2 %}{{ meta_description }}{% endblock %}
{% block meta_description3 %}{{ meta_description }}{% endblock %}
{% block social_img1 %}{% static '/mikedinder/images/Django.png' %}{% endblock %}
{% block social_img2 %}{% static '/mikedinder/images/Django.png' %}{% endblock %}
{% block social_img3 %}{% static '/mikedinder/images/Django.png' %}{% endblock %}
{% block social_url %}{{ request.path }}{% endblock %}

{% comment %}<!-- ASSETS -->{% endcomment %}
{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/home.css' %}" />
{% endblock %}
{% block js_scripts %}
    <script src="{% static '/mikedinder/js/home.js' %}"></script>
{% endblock %}

{% comment %}<!-- PAGE SPECIFIC HEADER -->{% endcomment %}
{% block header %}
    {% include "mikedinder/home/header.html" %}
{% endblock %}

{% comment %}<!-- BODY CONTENT -->{% endcomment %}
{% block body_content %}
    {% comment %}<!-- HERO SECTION -->{% endcomment %}
    {% include "mikedinder/home/section-1.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- HISTORY SECTION -->{% endcomment %}
    {% include "mikedinder/home/section-2.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- COMPANIES SECTION -->{% endcomment %}
    {% include "mikedinder/home/section-3.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- ECOSYSTEM SECTION -->{% endcomment %}
    {% include "mikedinder/home/section-4.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- STATISTICS SECTION -->{% endcomment %}
    {% include "mikedinder/home/section-5.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- PAGES SECTION -->{% endcomment %}
    {% include "mikedinder/home/section-6.html" %}
{% endblock %}