{% extends 'mikedinder/base/base_1.html' %}
{% load static %}

{% comment %}<!-- META INFORMATION -->{% endcomment %}
{% block page_title1 %}{{ title }}{% endblock %}
{% block page_title2 %}{{ title }}{% endblock %}
{% block page_title3 %}{{ title }}{% endblock %}
{% block page_id %}{{ page_id }}{% endblock %}
{% block page_class %}{{ block.super }} {{ page_class }}{% endblock %}
{% block meta_description1 %}{{ meta_description }}{% endblock %}
{% block meta_description2 %}{{ meta_description }}{% endblock %}
{% block meta_description3 %}{{ meta_description }}{% endblock %}
{% block social_img1 %}{% static '/mikedinder/images/Django.png' %}{% endblock %}
{% block social_img2 %}{% static '/mikedinder/images/Django.png' %}{% endblock %}
{% block social_img3 %}{% static '/mikedinder/images/Django.png' %}{% endblock %}
{% block social_url %}{{ request.path }}{% endblock %}

{% comment %}<!-- ASSETS -->{% endcomment %}
{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/hero.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/section1_timeline.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/section2_companies.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/section3_ecosystem.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/section4_statistics.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/section5_pages.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/mikedinder/css/pages/home.css' %}" />
{% endblock %}
{% block js_scripts %}
    <script src="{% static '/mikedinder/js/home.js' %}"></script>
{% endblock %}

{% comment %}<!-- PAGE SPECIFIC HEADER -->{% endcomment %}
{% block header %}
    {% include "mikedinder/pages/home/header.html" with branded_title=branded_title %}
{% endblock %}

{% comment %}<!-- BODY CONTENT -->{% endcomment %}
{% block body_content %}
    {% comment %}<!-- HERO SECTION -->{% endcomment %}
    {% include "mikedinder/pages/home/hero.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- HISTORY SECTION -->{% endcomment %}
    {% include "mikedinder/pages/home/history.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- COMPANIES SECTION -->{% endcomment %}
    {% include "mikedinder/pages/home/companies.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- ECOSYSTEM SECTION -->{% endcomment %}
    {% include "mikedinder/pages/home/ecosystem.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- STATISTICS SECTION -->{% endcomment %}
    {% include "mikedinder/pages/home/statistics.html" %}

    <div class="section-divider" aria-hidden="true"></div>

    {% comment %}<!-- PAGES SECTION -->{% endcomment %}
    {% include "mikedinder/pages/home/pages.html" %}
{% endblock %}

{% comment %}<!-- PAGE SPECIFIC FOOTER -->{% endcomment %}
{% block footer %}
    {% include "mikedinder/common/footer.html" with branded_title=branded_title %}
{% endblock %}