{% load fullurl static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        {% comment %}<!-- CONTACT EMAIL CSS -->{% endcomment %}
        {% include "mikedinder/emails/contact_css.html" %}
    </head>

    <body>
        <div class="container">
            <div class="header-box">
                <h2>
                    <span class="title-img">
                        <img src="{% fullstatic '/mikedinder/images/Contact.png' %}" alt="Contact Logo" />
                    </span>New Contact Form Submission
                </h2>

                <!-- <img src="{% fullstatic '/mikedinder/images/Mike_Email.jpg' %}" alt="Contact Logo" class="mike-img" /> -->
            </div>

            <p class="body-text">
                I will review your form submission within the next 24-48 hours and respond accordingly, this does not include weekends or holidays. I look forward to hearing what you have to say and/or working with you at your company or on your next project.<br /><br />
                Below you can view the information you sent to me.
                <br /><br />
            </p>

            <div class="field">
                <div class="label">Name:</div>
                <div class="value">{{ data.first_name }} {{ data.last_name }}</div>
            </div>

            <div class="field">
                <div class="label">Email:</div>
                <div class="value"><a href="mailto:{{ data.email }}">{{ data.email }}</a></div>
            </div>

            <div class="field">
                <div class="label">Phone:</div>
                <div class="value">{{ data.phone }}</div>
            </div>

            <div class="field">
                <div class="label">Message:</div>
                <div class="message-box">{{ data.message }}</div>
            </div>

            {% comment %}<!-- EMAIL FOOTER -->{% endcomment %}
            {% include "mikedinder/emails/footer.html" %}
        </div>
    </body>
</html>