{% load fullurl static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">

        {% comment %}<!-- CONTACT EMAIL CSS -->{% endcomment %}
        {% include "mikedinder/emails/contact_css.html" %}
    </head>

    <body>
        <div class="outer-wrapper">
            <table class="body-table" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center">
                        <table class="parent-table" role="presentation" border="0" cellpadding="0" cellspacing="0" width="620">
                            {% comment %}<!-- CONTACT EMAIL HEADER -->{% endcomment %}
                            {% include "mikedinder/emails/contact_header.html" with title="Thank You!" %}

                            {% comment %}<!-- CONTACT EMAIL BODY CONTENT -->{% endcomment %}
                            {% include "mikedinder/emails/contact_body.html" with body_text="I have received your information and I will review your form submission within the next 24-48 hours and respond accordingly. This does not include weekends or holidays. I look forward to hearing what you have to say and/or working with you at your company or on your next project.<br /><br />Below you can view the information that you sent to me.<br /><br />" %}

                            {% comment %}<!-- GENERAL EMAIL FOOTER -->{% endcomment %}
                            {% include "mikedinder/emails/footer.html" %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>