{% load fullurl static %}

<tr>
    <td class="no-padding">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="row1-left">
                    <h2>
                        <span class="title-img">
                            <img src="{% fullstatic '/mikedinder/images/Contact.png' %}" alt="Contact Logo" width="34" height="34" />
                        </span>&nbsp;&nbsp;{{ title|safe }}
                    </h2>

                    <hr class="divider" />
                </td>

                <td class="row1-right">
                    &nbsp;
                    <!-- <img src="{% fullstatic '/mikedinder/images/Mike_Email.jpg' %}" alt="Contact Logo" class="mike-img" width="48" height="48" /> -->
                </td>
            </tr>
        </table>
    </td>
</tr>